<!DOCTYPE html>
<html>
  <head>
      <title>Tabea's blog</title>
  </head>
  <body>
    <h1>Welcome to my studio flat on the internet!</h1>

      <article>
            <p>Hi, hello! Welcome to my website. My name is Tabea Hoffmann.
            I am 26 years old. I was born in Germany, but I live in Amsterdam,
            The Netherlands.<p> Find me here:</p><a href="https://www.rug.nl/staff/t.hoffmann/">link</a></p>
      </article>

      <article>
          <time>published: 14.06.2014, 12:14</time>
          <h2><a href="">My first post</a></h2>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </article>

      <article>
          <time>published: 14.06.2014, 12:14</time>
          <h2><a href="">My second post</a></h2>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
      </article>
  </body>
</html>
